albumentations==0.5.1 --no-binary=imgaug,albumentations
ray>=1.0.1
einops==0.3.0
loguru==0.5.3
yacs>=0.1.8
autopep8
pylint
ipython
jupyterlab
pytorch-lightning==1.3.5
joblib>=1.0.1
torchmetrics==0.4
torch>=1.1
torchvision>=0.3
numpy
opencv-python
tqdm>=4.36.0
matplotlib
plotly
scipy
h5py
pycolmap>=3.13.0
kornia>=0.6.11
gdown
lightglue @ git+https://github.com/cvg/LightGlue
